body{
  z-index: 2;
  height: 70%;
  background-color: black;
}

#title{
  height: 83%;
  position: relative;
  z-index: 0;
}

 
  


.fa-facebook{
  color: white;
}

.title-image
{
    position: absolute;
    z-index: 0;
    margin-left: 100px;
    margin-top: 30px;
    
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}
hr{
  margin-top: 60px;
  margin-bottom: 30px;
  color: white;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

#menu-background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%, 
    transparent 9%
  );
  background-color: black;
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  height: 2200px;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, 
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100vw;
  z-index: 0;
}

.opacity-p{
  opacity: 30%;
  color: white;
}

.icon {
  color: white;
  margin-bottom: 1rem;
}

.icon:hover {
  color: red;
}
.icon:click {
  color: red;
}

.fa-heart:click{
color: white;
}
.big-end-love{


font-family: "Montserrat";
font-size: 3.5rem;
line-height: 1.5;

}

.nav-item:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 20;
}

.nav-item:hover > .nav-item {
  opacity: 20;
}

.nav-item:hover > .nav-item:hover {
  opacity: 10; 
}

/* Home Section */

#home{
height: 100%;
text-align: left;

position: relative;
}

.container-fluid{
  padding:  3% 15%;
}


.hovereffect:hover{
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  z-index: 100;
}

.big-heading {
  font-family: "Montserrat";
  font-size: 3.0rem;
  line-height: 1.5;
  color: white;
  font-weight: 500;
  margin-top: 85px;
  z-index: 20;

}

h1{
  z-index: 20;
  font-family: "Montserrat";
  font-size: 3.9rem;
  line-height: 1.5;
  color: white;
  font-weight: 500;
  position: relative;
  z-index: 20;
}


.magazines{
  

  color: white;
  text-align: center;
  position: relative;
  height: 100%;
  margin-top: 200px;
  }

  #carousel{
    padding-top: 0;
    margin-top: 0;
    position: relative;

  }

  .aboutus{
    text-align: center;
    width: 50%;
    margin:  100px auto 0 auto;
    text-align: center;
    line-height: 2;
    position: relative;

  }
  .aboutandalumni{
text-align: center;
  }
  h3,h4{
    text-align: center;
  }

  .card-info-title{
    text-align: center;
  }
.name{
text-align: center;
}
.department{
  text-align: center;
}

  
  h6,h5{
    color: white;
  }
  .aboutustext{
    font-family: 'Poppins';
    line-height: 2;
  }

  h2{
    font-family: 'Tangerine';
    font-weight: 700;
    font-size: 9rem;
  }
  .about{
    font-family: 'Tangerine';
    font-weight: 700;
    font-size: 5rem;
    position: relative;
  }
  .teamCLASS{
    font-family: 'Tangerine';
    text-align: center;
  }
  
  @media (max-width: 1028px) {
    .container{
      margin: 0 40px;
    }
    .container-fluid{
      padding:  0 0;
    }
    
    #title {
      text-align: center;
      margin-top: 0;
    }
    body{
      height: 100%;
    }
    #big-heading{
      margin-top: 0;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
      margin-left: 0;
      margin-top: 0;
    }

    .magazines{
      padding-top: 100px;
      margin-top: 50px;
      height: 70%;
      
      }
      h2{
        font-size: 6rem;
      }

      .aboutus{
        margin-top: 230px;
        width: 80%;
      }

      .blog-heading{
        margin-top: 30px;
      }
    
  }
  
  :root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
  }
  .blog-heading{
text-align: center;
font-family: 'Tangerine';
    font-weight: 700;
    font-size: 5rem;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  #blog{
    align-items: center;
    display: flex;

    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
  }
  
  #cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    max-width: 916px;
    width: calc(100% - 20px);
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;  
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }
  
  /* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
  
  
  
  i {  
    color: rgb(240, 240, 240);
  }
  
  .card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
  }
  
  .card-image > i {
    font-size: 6em;
    opacity: 0.25;
  }
  
  .card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
  }
  
  .card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
  }
  
  .card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
  }
  
  .card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
  }
  
  .card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
  }
  
  /* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
  
  @media(max-width: 1000px) {
    #blog {
      align-items: flex-start;  
      overflow: auto;
    }
    
    #cards {    
      max-width: 1000px;
      padding: 10px 0px;
    }
    
    .card {
      flex-shrink: 1;
      width: calc(50% - 4px);
    }
  }
  
  @media(max-width: 500px) {
    .card {
      height: 180px;
    }
    
    .card-image {
      height: 80px;  
    }
    
    .card-image > i {
      font-size: 3em;
    }
      
    .card-info-wrapper {
      padding: 0px 10px;
    }
    
    .card-info > i { 
      font-size: 0.8em; 
    }
    
    .card-info-title > h3 {
      font-size: 0.9em;
    }
  
    .card-info-title > h4 {
      font-size: 0.8em;
      margin-top: 4px;
      
    }
  
  }


  @media(max-width: 320px) {
    .card {
      width: 100%;
    }
    
  }
  h3{
    color: white;
  }

  .big-end-love{
text-align: center;
color: white;
  }
